################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VirtualArboretum/.vs
/VirtualArboretum/bin/Debug/net9.0
/VirtualArboretum/obj
/VirtualArboretumTests/bin/Debug/net9.0
/VirtualArboretumTests/obj
VirtualArboretum/VirtualArboretum.sln.DotSettings.user

/VirtualArboretum/bin/Release/**
/VirtualArboretumTests/bin/Release/**