################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VirtualArboretum/.vs
/VirtualArboretum/bin/Debug/net9.0
/VirtualArboretum/obj
